.footer {
    position: relative;
    min-height: 632px;
    &__contacts{
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 462px;
        height: 272px;
        padding: 51px 0 60px 0;
        background-color: $main-color;
        margin: 0 auto;
        text-align: center;
    }
        &__address {
            font-size: 20px;
            line-height: 23px;
            font-weight: 500;
            text-align: center;
            color: #FFFFFF;
        }
        &__phone {
            font-size: 20px;
            line-height: 23px;
            font-weight: 700;
            text-align: center;
            color: #FFFFFF;
            &:hover {
                color: #FFFFFF;
            }
        }
        &__social {
            display: flex;
            justify-content: space-between;
            width: 212px;
            height: 52px;
        }
            img {
                border: 2px solid #FFFFFF;
                border-radius: 100%;
                width: 52px;
                height: 52px;
            }
        &__map {
            iframe {
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
            }
        }
    }